.container-notifications {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-notifications {
    width: 100%;
    height: auto;
    min-height: 100vh;
    max-height: 100vh;
    background: var(--stoneTwo);
    border-radius: 10px 0px 0px 10px;
    border: 1px solid var(--stoneFour);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 70px 0px 0px 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content-notifications .top {
    width: calc(100% - 280px);
    height: 65px;
    padding: 0px 20px;
    position: fixed;
    top: 0px;
    left: 280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--stoneTwo);
    border: 1px solid var(--stoneFour);
    border-radius: 10px 0px 0px 0px;
    z-index: 900;
}

.content-notifications .top h1 {
    width: max-content;
    font-size: 18px;
    font-weight: 500;
}

.content-notifications .linha {
    width: 100%;
    height: auto;
    border-top: 1px solid var(--stoneFour);
    margin: 0px;
}


/* Notifications */
.content-notifications .notificacoes {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px 0px 27.5px 0px;
}

.content-notifications .notificacoes h1 {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 5px;
} .content-notifications .notificacoes h1 .icon {
    font-size: 24px;
    margin: 0px 8px 0px 0px;
}

.content-notifications .notificacoes .card {
    width: max-content;
    height: auto;
    flex: 1;
    align-self: stretch;
    padding: 20px 15px;
    border-radius: 10px;
    border: 1px solid var(--stoneFour);
    background: var(--stoneThree);    
    display: flex;
    flex-direction: row;
    transition: all .05s ease-in-out;
} .content-notifications .notificacoes .card:hover,
  .content-notifications .notificacoes .card:focus {
    background: var(--stoneFour);
    border: 1px solid var(--stoneFive);
    box-shadow: 0px 0px 2px var(--stoneFive);
}

.content-notifications .notificacoes .card.loading {
    height: 114px;
    border-radius: 8px;
    background: radial-gradient(circle at 30% 30%, var(--stoneFive), var(--stoneSix), var(--stoneSeven) 75%);
    background-size: 200% 200%;
    animation: loading 2.25s infinite;
    margin: 0px;
    user-select: none;
    cursor: var(--mouseAuto);
}

.content-notifications .notificacoes .card img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px 15px 0px 0px;
}

.content-notifications .notificacoes .card .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px 15px 0px 0px;
}

.content-notifications .notificacoes .card .text {
    width: calc(100% - 40px);
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 2px 0px;
}

.content-notifications .notificacoes .card .text h1 {
    width: 96.5%;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 23px;
    padding: 0px;
    margin: 0px 0px 6px 0px;
}

.content-notifications .notificacoes .card .text p {
    width: 96.5%;
    font-size: 14.5px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.2px;
    padding: 0px;
    margin: 0px 0px 6px 0px;
    color: var(--stoneSeven);
}

.content-notifications .notificacoes .card .text a {
    font-size: 14.5px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.2px;
    padding: 0px;
    margin: 0px;
    color: var(--secondary);
}

.content-notifications .notificacoes .card .text .btns {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 6px 0px 0px 0px;
}

.content-notifications .notificacoes .card .text .btns button.accept {
    background: var(--greenLight);
}

.content-notifications .notificacoes .card .text .btns button.reject {
    background: var(--red);
}

.content-notifications .notificacoes .card .text .btns button {
    width: auto;
    height: auto;
    padding: 12px 14px;
    border-radius: 20px;
    font-size: 13px;
    margin: 0px 15px 0px 0px;
    cursor: var(--mouseLink);
    transition: all .1s ease-in-out;
} .content-notifications .notificacoes .card .text .btns button:hover,
.content-notifications .notificacoes .card .text .btns button:focus {
    background: var(--stoneEleven);
    color: var(--stoneOne);
}