.container-landing {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-landing .content-landing {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navbar */
.container-navbar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    background: var(--stoneOneOpacity);
    backdrop-filter: blur(20px);
    border: 1px solid var(--stoneThree);
    border-top: none;
    border-radius: 0px 0px 12px 12px;
    z-index: 900;
}

.content-navbar {
    width: 92.5%;
    max-width: 1111px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-navbar .logo {
    width: 40px;
    height: auto;
    margin: 0px 20px 0px 0px;
    cursor: var(--mouseLink);
}

.content-navbar .links {
    width: max-content;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px auto 0px 0px;
}

.content-navbar .links a {
    font-size: 15px;
    font-weight: 400;
    margin: 0px 15px;
    color: var(--stoneNine);
    user-select: none;
    cursor: var(--mouseLink);
    transition: all .1s ease-in-out;
} .content-navbar .links a:hover {
    color: var(--secondary);
    text-shadow: 0px 0px 12.5px var(--secondary);
}

.btn-signin {
    width: max-content;
    height: auto;
    padding: 10px 15px;
    border-radius: 25px;
    margin: 0px 0px 0px 15px;
    background: transparent;
    color: var(--stoneEleven);
    font-size: 15px;
    font-weight: 400;
    cursor: var(--mouseLink);
    transition: all .1s ease-in-out;
} .btn-signin:hover,
  .btn-signin:focus {
    background: var(--stoneThree);
}

.btn-started {
    width: max-content;
    height: auto;
    padding: 10px 15px;
    border-radius: 25px;
    margin: 0px 0px 0px 15px;
    background: var(--stoneNine);
    color: var(--stoneOne);
    font-size: 15px;
    font-weight: 500;
    cursor: var(--mouseLink);
    transition: all .1s ease-in-out;
} .btn-started:hover,
  .btn-started:focus {
    background: var(--primary);
    color: var(--stoneEleven);
    box-shadow: 0px 2.5px 12.5px var(--primary);
}

.btn-started.vip {
    background: var(--secondary);
}

/* Inicio */
.container-initial {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 80px 0px 0px 0px;
}

.content-initial {
    width: 92.5%;
    max-width: 1111px;
    height: calc(100vh - 70px);
    max-height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 30px 0px;
}

.content-initial .update-info {
    width: max-content;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 14px;
    padding: 4px;
    user-select: none;
    cursor: var(--mouseLink);
    color: var(--stoneEleven);
    background: var(--stoneTwo);
    border: 1px solid var(--stoneThree);
    transition: all .1s ease-in-out;
} .content-initial .update-info:hover {
    box-shadow: 0px 5px 15px var(--stoneThree);
} .content-initial .update-info * {
    cursor: var(--mouseLink);
}

.content-initial .update-info a {
    font-size: 14px;
    font-weight: 400;
    padding: 8px;
    border-radius: 10px;
    background: rgba(91, 57, 151, 0.2);
    color: var(--secondary);
    border: 1px solid var(--secondary);
    margin: 0px 14px 0px 0px;
}

.content-initial .update-info p {
    font-size: 14px;
    font-weight: 400;
    margin: 0px 4px 0px 0px;
}

.content-initial .update-info .icon {
    font-size: 16px;
    margin: 2px 4px 0px 0px;
}


.content-initial h1 {
    width: 100%;
    max-width: 525px;
    font-size: 46.5px;
    font-weight: 800;
    line-height: 56px;
    text-align: center;
    margin: 40px auto 20px auto;
}

.content-initial p {
    width: 100%;
    max-width: 600px;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    margin: 0px auto 25px auto;
} .content-initial p strong {
    color: var(--secondary);
}

.content-initial button {
    font-size: 15px;
    padding: 15px 18px;
}



/* Products */
.container-products {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 50px 0px 50px;
}

.content-products {
    width: 92.5%;
    max-width: 1111px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Join Workspace */
.content-products .join-workspace {
    width: 100%;
    max-width: 780px;
    height: auto;
    padding: 40px 0px;
    border: 1px solid var(--stoneThree);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 50px 0px;
}

.content-products .join-workspace h1 {
    width: 90%;
    max-width: 400px;
    font-size: 17px;
    font-weight: 500;
    margin: 0px 0px 6px 0px;
}

.content-products .join-workspace p {
    width: 90%;
    max-width: 400px;
    font-size: 15px;
    font-weight: 400;
}

.content-products .join-workspace .modal {
    width: 92.5%;
    max-width: 425px;
    height: auto;
    background: var(--stoneTwo);
    border: 1px solid var(--stoneThree);
    border-radius: 12px;
    padding: 20px;
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
}

.content-products .join-workspace .modal li {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.content-products .join-workspace .modal li .image {
    min-width: 50px;
    min-height: 50px;
    padding: 2px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px 0px 0px;
}


.content-products .join-workspace .modal li .image p {
    width: max-content;
    height: auto;
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.8px;
}

.content-products .join-workspace .modal li .content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 5px 0px;
}

.content-products .join-workspace .modal .linha {
    width: calc(100% - 65px);
    height: auto;
    border-bottom: 1px dashed var(--stoneSix);
    margin: 7.5px 0px 12px auto;
}

.content-products .join-workspace .modal li .content .text {
    width: max-content;
    height: auto;
    display: flex;
    flex-direction: column;
}

.content-products .join-workspace .modal li .content .text h1 {
    width: max-content;
    font-size: 15px;
    font-weight: 500;
    margin: 0px 0px 4px 0px;
}

.content-products .join-workspace .modal li .content .text p {
    width: max-content;
    font-size: 13px;
    font-weight: 450;
    color: var(--stoneSix);
    margin: 0px;
}

.content-products .join-workspace .modal li .content button {
    width: max-content;
    height: auto;
    border-radius: 12px;
    padding: 8px 12px;
    color: var(--stoneEleven);
    font-size: 14px;
    font-weight: 400;
    background: var(--stoneThree);
    cursor: var(--mouseLink);
    transition: all .1s ease-in-out;
} .content-products .join-workspace .modal li .content button:hover,
.content-products .join-workspace .modal li .content button:focus {
    background: var(--stoneFour);
}


/* Create Workspace */
.content-products .create-workspace {
    width: 100%;
    max-width: 780px;
    height: auto;
    padding: 40px 0px;
    border: 1px solid var(--stoneThree);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 50px 0px;
    position: relative;
}

.content-products .create-workspace.new {
    border: 1px solid var(--primary);
}

.content-products .create-workspace .news {
    width: max-content;
    height: 40px;
    padding: 0px 10px;
    background: var(--primary);
    border-radius: 8px;
    position: absolute;
    top: -20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content-products .create-workspace .news .icon {
    font-size: 20px;
    margin: 0px 10px 0px 0px;
}

.content-products .create-workspace .news h1 {
    font-size: 16px;
    font-weight: 500;
    user-select: none;
    cursor: var(--mouseAuto);
    margin: 0px;
}

.content-products .create-workspace h1 {
    width: 90%;
    max-width: 500px;
    font-size: 17px;
    font-weight: 500;
    margin: 0px 0px 6px 0px;
}

.content-products .create-workspace p {
    width: 90%;
    max-width: 500px;
    font-size: 15px;
    font-weight: 400;
}

.content-products .create-workspace .modal {
    width: 92.5%;
    max-width: 525px;
    height: auto;
    background: var(--stoneTwo);
    border: 1px solid var(--stoneFour);
    border-radius: 12px;
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 20;
}


.content-products .create-workspace .modal .form h1 {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    margin: 0px 0px 6px 0px;
}

.content-products .create-workspace .modal .form p {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    line-height: unset;
    margin: 0px 0px 10px 0px;
}

.content-products .create-workspace .modal .form {
    width: 100%;
    height: auto;
    background: var(--stoneThree);
    border-bottom: 1px solid var(--stoneFour);
    border-radius: 12px;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 20;
}

.content-products .create-workspace .modal .linha {
    width: 100%;
    height: auto;
    margin: 10px auto;
    border-bottom: 1px dashed var(--stoneSix);
}

/* Form - Input */
.content-products .create-workspace .modal .form .input {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}

.content-products .create-workspace .modal .form .input label {
    font-size: 15.5px;
    font-weight: 500;
    margin: 0px 0px 10px 2px;
}

.content-products .create-workspace .modal .form .input input {
    width: 100%;
    height: 42.5px;
    border-radius: 8px;
    color: var(--stoneEleven);
    background: var(--stoneFour);
    border: 1px solid var(--stoneSix);
    font-size: 13px;
    padding: 0px 15px;
    transition: all .1s ease-in-out;
} .content-products .create-workspace .modal .form .input input:focus {
    border: 1px solid var(--stoneSix);
    box-shadow: 0px 0px 10px var(--stoneSix);
}


/* Form - Input With Select */
.content-products .create-workspace .modal .form .send {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0px;
}

.content-products .create-workspace .modal .form .send .input-with-select {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: 0px 15px 0px 0px;
}

.content-products .create-workspace .modal .form .send .input-with-select input {
    width: 100%;
    height: 42.5px;
    border-radius: 8px;
    color: var(--stoneEleven);
    background: var(--stoneFour);
    border: 1px solid var(--stoneSix);
    font-size: 13px;
    padding: 0px 130px 0px 15px;
    transition: all .1s ease-in-out;
} .content-products .create-workspace .modal .form .send .input-with-select input:focus {
    border: 1px solid var(--stoneSix);
    box-shadow: 0px 0px 10px var(--stoneSix);
}

.content-products .create-workspace .modal .form .send .input-with-select .select {
    width: max-content;
    height: auto;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 12px;
}

.content-products .create-workspace .modal .form .send .input-with-select .select button {
    width: 100%;
    height: 42.5px;
    padding: 0px 14px;
    border-radius: 10px;
    color: var(--stoneEleven);
    background: transparent;
    border: 1px solid transparent;
    cursor: var(--mouseLink);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all .1s ease-in-out;
} .content-products .create-workspace .modal .form .send .input-with-select .select button:hover,
.content-products .create-workspace .modal .form .send .input-with-select .select button:focus {
    background: var(--stoneThree);
    border: 1px solid var(--stoneSix);
} .content-products .create-workspace .modal .form .send .input-with-select .select button * {
    cursor: var(--mouseLink);
}

.content-products .create-workspace .modal .form .send .input-with-select .select button p {
    width: max-content;
    font-size: 14px;
    margin: 0px auto 0px 0px;
}

.content-products .create-workspace .modal .form .send .input-with-select .select button .icon {
    font-size: 14px;
    margin: 0px 0px 0px 8px;
}


.content-products .create-workspace .modal .form .send .input-with-select .select .list {
    width: 100%;
    min-width: max-content;
    height: auto;
    border-radius: 12px;
    background: var(--stoneFour);
    border: 1px solid var(--stoneSix);
    position: absolute;
    z-index: 200;
    top: 0px;
    right: 0px;
    transition: all .1s ease-in-out;
}

.content-products .create-workspace .modal .form .send .input-with-select .select .list button:hover,
.content-products .create-workspace .modal .form .send .input-with-select .select .list button:focus {
    background: var(--stoneSix);
    border: 1px solid var(--stoneSeven);
}

.content-products .create-workspace .modal .form .send button {
    width: max-content;
    height: 42.5px;
    padding: 0px 12px;
    border-radius: 8px;
    background: var(--primary);
    border: 1px solid var(--primary);
    color: var(--stoneEleven);
    cursor: var(--mouseLink);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    transition: all .1s ease-in-out;
} .content-products .create-workspace .modal .form .send button:hover,
.content-products .create-workspace .modal .form .send button:focus {
    background: var(--secondary);
    border: 1px solid var(--secondary);
    color: var(--stoneOne);
}

/* Form - Response SEND */
.content-products .create-workspace .modal .form .response-send {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 15px 0px 0px 0px;
}

.content-products .create-workspace .modal .form .response-send h1 {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    margin: 0px 0px 20px 0px;
}

.content-products .create-workspace .modal .form .response-send .list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-products .create-workspace .modal .form .response-send .list li {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0px 15px 0px;
    position: relative;
}

.content-products .create-workspace .modal .form .response-send .list li img {
    width: 35px;
    height: auto;
    border-radius: 50%;
    margin: 0px 12px 0px 0px;
}

.content-products .create-workspace .modal .form .response-send .list li h1 {
    width: max-content;
    font-size: 15px;
    font-weight: 500;
    margin: 0px 10px 0px 0px;
}

.content-products .create-workspace .modal .form .response-send .list li h2 {
    font-size: 13.5px;
    font-weight: 500;
    color: var(--stoneSeven);
    margin: 0px 10px 0px 0px;
}

.content-products .create-workspace .modal .form .response-send .list li h3 {
    font-size: 14px;
    font-weight: 500;
    margin: 0px 0px 0px auto;
}

.content-products .create-workspace .modal .form .response-send .list li .icon {
    width: 30px;
    height: 32.5px;
    padding: 8px 4px;
    border-radius: 8px;
    margin: 0px 0px 0px 10px;
    cursor: var(--mouseLink);
    transition: all .1s ease-in-out;
} .content-products .create-workspace .modal .form .response-send .list li .icon:hover,
.content-products .create-workspace .modal .form .response-send .list li .icon:focus {
    background: var(--stoneFour);
}

.content-products .create-workspace .modal .form .response-send .list li .md-user {
    width: max-content;
    height: auto;
    background: var(--stoneFour);
    border: 1px solid var(--stoneSix);
    border-radius: 12px;
    position: absolute;
    top: 45px;
    right: 0px;
    padding: 0px;
    z-index: 200;
}

.content-products .create-workspace .modal .form .response-send .list li .md-user .list {
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    color: var(--stoneEleven);
}

.content-products .create-workspace .modal .form .response-send .list li .md-user .list button {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: transparent;
    font-size: 14.75px;
    padding: 0px 12.5px 0px 7px;
    color: var(--stoneEleven);
    cursor: var(--mouseLink);
    border-radius: 10px;
    border: 1px solid transparent;
    transition: all .1s ease-in-out;
} .content-products .create-workspace .modal .form .response-send .list li .md-user .list button:hover,
.content-products .create-workspace .modal .form .response-send .list li .md-user .list button:focus {
    background: var(--stoneSix);
    border: 1px solid var(--stoneSeven);
} .content-products .create-workspace .modal .form .response-send .list li .md-user .list button * {
    cursor: var(--mouseLink);
}

/* Md User - Button Deletar */
.content-products .create-workspace .modal .form .response-send .list li .md-user .list button.deletar {
    color: var(--red);
}

.content-products .create-workspace .modal .form .response-send .list li .md-user .list button .icon {
    width: 18px;
    height: 18px;
    padding: 0px;
    margin: 0px 8px 0px 0px;
    cursor: unset;
} .content-products .create-workspace .modal .form .response-send .list li .md-user .list button .icon:hover {
    background: transparent;
}

/* Form - Textarea */
.content-products .create-workspace .modal .form .textarea {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}

.content-products .create-workspace .modal .form .textarea label {
    font-size: 15.5px;
    font-weight: 500;
    margin: 0px 0px 10px 2px;
}

.content-products .create-workspace .modal .form .textarea textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 70px;
    max-height: 100px;
    border-radius: 8px;
    font-size: 13px;
    color: var(--stoneEleven);
    background: var(--stoneFour);
    border: 1px solid var(--stoneSix);
    padding: 12.5px 15px;
    transition: all .1s ease-in-out;
} .content-products .create-workspace .modal .form .textarea textarea:focus {
    border: 1px solid var(--stoneSix);
    box-shadow: 0px 0px 10px var(--stoneSix);
}


.content-products .create-workspace .modal .form .checkbox {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 15px 0px 7.5px 0px;
}

.content-products .create-workspace .modal .form .checkbox .input-checkbox {
    min-width: 22.5px;
    max-width: 22.5px;
    min-height: 22.5px;
    max-height: 22.5px;
    border: 1px solid var(--stoneSix);
    background: var(--stoneFour);
    border-radius: 50%;
    cursor: var(--mouseLink);
    transition: all .1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 12px 0px 0px;
} .content-products .create-workspace .modal .form .checkbox .input-checkbox:hover,
.content-products .create-workspace .modal .form .checkbox .input-checkbox:focus {
    background: var(--stoneFive);
    border: 1px solid var(--stoneSeven);
    box-shadow: 0px 0px 15px var(--stoneSix);
}


.content-products .create-workspace .modal .form .checkbox .input-checkbox.selecionado {
    background: var(--primary);
    border: 1px solid var(--secondary);
} .content-products .create-workspace .modal .form .checkbox .input-checkbox.selecionado:hover,
  .content-products .create-workspace .modal .form .checkbox .input-checkbox.selecionado:focus {
    box-shadow: 0px 0px 15px var(--secondary);
}

.content-products .create-workspace .modal .form .checkbox .input-checkbox.selecionado::before {
    content: "✓";
    font-size: 14px;
    font-weight: 200;
    margin: auto;
}

.content-products .create-workspace .modal .form .checkbox .text {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.content-products .create-workspace .modal .form .checkbox .text h1 {
    font-size: 16px;
    font-weight: 500;
    margin: 2px 0px 4px 0px;
}

.content-products .create-workspace .modal .form .checkbox .text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}


/* Form - Btns */
.content-products .create-workspace .modal .btns {
    width: 100%;
    height: 60px;
    border-top: none;
    padding: 0px 20px;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.content-products .create-workspace .modal .btns .btn-create {
    width: max-content;
    height: auto;
    padding: 8px 12px;
    border-radius: 8px;
    margin: 0px 0px 0px 12px;
    background: var(--primary);
    border: 1px solid var(--primary);
    color: var(--stoneEleven);
    cursor: var(--mouseLink);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.2px;
    transition: all .1s ease-in-out;
} .content-products .create-workspace .modal .btns .btn-create:hover,
.content-products .create-workspace .modal .btns .btn-create:focus {
    background: var(--secondary);
    border: 1px solid var(--secondary);
    color: var(--stoneOne);
}

.content-products .create-workspace .modal .btns .btn-cancel {
    width: max-content;
    height: auto;
    padding: 8px 14px;
    border-radius: 8px;
    margin: 0px 0px 0px 12px;
    background: var(--stoneThree);
    border: 1px solid var(--stoneSix);
    color: var(--stoneEleven);
    cursor: var(--mouseLink);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.2px;
    transition: all .1s ease-in-out;
} .content-products .create-workspace .modal .btns .btn-cancel:hover,
.content-products .create-workspace .modal .btns .btn-cancel:focus {
    background: var(--stoneFour);
}


/* Form - Links */
.content-products .create-workspace .modal .links {
    width: 100%;
    height: 60px;
    border-top: none;
    padding: 0px 10px;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content-products .create-workspace .modal .links .copiar {
    width: max-content;
    height: auto;
    padding: 6px;
    border-radius: 8px;
    background: transparent;
    border: 1px solid transparent;
    color: var(--secondary);
    cursor: var(--mouseLink);
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.2px;
    transition: all .1s ease-in-out;
} .content-products .create-workspace .modal .links .copiar:hover,
.content-products .create-workspace .modal .links .copiar:focus {
    background: var(--secondary);
    color: var(--mouseLink);
} .content-products .create-workspace .modal .links .copiar * {
    cursor: var(--mouseLink);
}


.content-products .create-workspace .modal .links .copiar .icon {
    font-size: 18px;
    margin: 1px 6px 0px 0px;
}




/* Formas de contato */
.content-landing .container-contact {
    width: 100%;
    height: auto;
    padding: 15px 0px;
    border-radius: 12px;
    border: 1px solid var(--stoneThree);
    display: flex;
    justify-content: center;
}

.content-landing .content-contact {
    width: 92.5%;
    max-width: 1111px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}

.content-landing .content-contact .social-media {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.content-landing .content-contact .social-media .logo {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.2px;
    font-family: var(--nunito);
    margin: 12.5px 0px 5px 0px;
    user-select: none;
    display: flex;
    align-items: center;
    cursor: var(--mouseAuto);
}

.content-landing .content-contact .social-media .logo img {
    width: 40px;
    height: 40px;
    margin: 0px 12px 0px 0px;
}

.content-landing .content-contact .social-media .icons {
    width: max-content;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-landing .content-contact .social-media .icons .icon {
    font-size: 22.5px;
    margin: 0px 8px;
    cursor: var(--mouseLink);
    transition: all .05s ease-in-out;
} .content-landing .content-contact .social-media .icons .icon:hover {
    color: var(--primary);
}

.content-landing .content-contact .row {
    width: 100%;
    height: auto;
    border-top: 1px solid var(--stoneFour);
    margin: 10px 0px;
}

/* Links */
.content-landing .content-contact .links {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 0px;
}

.content-landing .content-contact .links li {
    flex: 1;
    max-width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.content-landing .content-contact .links li h1 {
    font-size: 18px;
    font-weight: 600;
    margin: 0px 0px 8px 0px;
}

.content-landing .content-contact .links li a {
    width: max-content;
    font-size: 15.5px;
    font-weight: 400;
    margin: 8px 0px;
    cursor: var(--mouseLink);
    user-select: none;
    color: var(--stoneEleven);
    transition: all .1s ease-in-out;
} .content-landing .content-contact .links li a:hover {
    text-decoration: underline;
    text-shadow: 0px 0px 5px  var(--stoneEleven);
}


/* Criado por TecVit */
.content-landing .content-contact .made {
    width: 100%;
    height: auto;
    margin: 10px 0px;
    font-size: 15px;
    font-weight: 600;
} .content-landing .content-contact .made strong {
    color: var(--blue);
    font-weight: 900;
    cursor: var(--mouseLink);
    user-select: none;
    transition: all .1s ease-in-out;
} .content-landing .content-contact .made strong:hover {
    text-shadow: 0px 0px 10px var(--blue);
}




/* Planos */
.container-plans {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 100px 0px;
    color: var(--stoneEleven);
} 

.content-plans {
    width: 92.5%;
    max-width: 1111px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-plans h1 {
    width: 95%;
    max-width: 600px;
    text-align: center;
    font-size: 32.5px;
    font-weight: 800;
    line-height: 44px;
    margin: 30px auto 60px auto;
} .content-plans h1 strong {
    font-weight: 800;
    color: var(--secondary);
}

.content-plans .plan {
    width: 100%;
    max-width: 780px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 14px;
    background: var(--stoneTwo);
    border: 1px solid var(--stoneThree);
    padding: 40px 30px;
    margin: 15px 0px 30px 0px;
}

.content-plans .plan .price {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 5% 15px 0px;
}

.content-plans .plan .price h1 {
    width: 100%;
    font-size: 26px;
    text-align: center;
    line-height: unset;
    margin: 0px 0px 8px 0px;
}

.content-plans .plan .price p {
    width: 100%;
    max-width: 250px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    line-height: 22px;
    margin: 0px auto 8px auto;
} .content-plans .plan .price p strong {
    color: var(--secondary);
}

.content-plans .plan .price h2 {
    width: 100%;
    font-size: 34px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: unset;
    margin: 20px 0px 30px 0px;
}

.content-plans .plan .price button {
    width: max-content;
    height: auto;
    padding: 15px 18px;
    border-radius: 25px;
    background: var(--primary);
    color: var(--stoneEleven);
    font-size: 14px;
    font-weight: 525;
    margin: 0px auto;
    cursor: var(--mouseLink);
    transition: all .1s ease-in-out;
} .content-plans .plan .price button:hover,
.content-plans .plan .price button:focus {
    background: var(--stoneEleven);
    color: var(--stoneOne);
}


/* Descrição */
.content-plans .plan .description {
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 5%;
    border-left: 1px solid var(--stoneThree);
}

.content-plans .plan .description p {
    width: 100%;
    max-width: 450px;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    margin: 15px 0px;
}

.content-plans .plan .description .list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.content-plans .plan .description .list p {
    font-size: 17px;
    margin: 8px 0px;
    font-weight: 400;
    line-height: unset;
} .content-plans .plan .description .list p strong {
    font-size: 20px;
    color: var(--secondary);
    margin: 0px 6px 0px 0px;
}

