.container-popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #09090be6;
    z-index: 999;
}

.content-popup {
    width: 100%;
    max-width: 680px;
    height: 95vh;
    max-height: 700px;
    background: var(--stoneTwo);
    border: 1px solid var(--stoneFour);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 75px 0px 20px 0px;
    z-index: 200;
    display: flex;
    flex-direction: column;
}

.content-popup .bar {
    width: 100%;
    max-width: 678px;
    height: 70px;
    padding: 0px 22.5px;
    position: absolute;
    top: 0px;
    background: var(--stoneTwo);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 12px 12px 0px 0px;
    justify-content: space-between;
    border-bottom: 1px solid var(--stoneFour);
}

.content-popup .bar h1 {
    font-size: 17px;
    margin: 0px;
}

.content-popup .bar .icon {
    font-size: 25px;
    margin: 0px;
    cursor: var(--mouseLink);
    user-select: none;
    transition: all .1s ease-in-out;
} .content-popup .bar .icon * {
    cursor: var(--mouseLink);
    user-select: none;
} .content-popup .bar .icon:hover {
    color: var(--primary);
}

.content-popup .popup {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    padding: 5px 5%;
    overflow: scroll;
}


/* Btns - Save, Delete */
.content-popup .popup .btns {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 12.5px 0px;
}

.content-popup .popup .btns .save {
    width: max-content;
    height: auto;
    font-size: 14px;
    padding: 12.5px 17px;
    border-radius: 25px;
    background: var(--primary);
    color: var(--stoneEleven);
    cursor: var(--mouseLink);
    margin: 0px 0px 0px 15px;
    user-select: none;
    transition: all .1s ease-in-out;
} .content-popup .popup .btns .save * {
    cursor: var(--mouseLink);
    user-select: none;
} .content-popup .popup .btns .save:hover,
.content-popup .popup .btns .save:focus {
    background: var(--stoneEleven);
    color: var(--stoneOne);
}

.content-popup .popup .btns .delete {
    width: max-content;
    height: auto;
    font-size: 14px;
    padding: 12.5px 17px;
    border-radius: 25px;
    background: var(--red);
    color: var(--stoneEleven);
    cursor: var(--mouseLink);
    margin: 0px 0px 0px 15px;
    user-select: none;
    transition: all .1s ease-in-out;
} .content-popup .popup .btns .delete * {
    cursor: var(--mouseLink);
    user-select: none;
} .content-popup .popup .btns .delete:hover,
.content-popup .popup .btns .delete:focus {
    background: var(--stoneEleven);
    color: var(--stoneOne);
}


/* Form */
.content-popup .popup .form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
}


/* Form - File */
.content-popup .popup .form .file {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px;
}

.content-popup .popup .form .file .input-file {
    width: max-content;
    height: max-content;
    position: relative;
    cursor: var(--mouseLink);
    user-select: none;
    margin: 0px 15px 0px 0px;
} .content-popup .popup .form .file .input-file * {
    cursor: var(--mouseLink);
    user-select: none;
} .content-popup .popup .form .file .input-file:hover .content,
.content-popup .popup .form .file .input-file:focus .content {
    box-shadow: 0px 0px 1px var(--stoneFour);
    border: 2px dashed var(--stoneEleven);
}

.content-popup .popup .form .file .input-file input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    opacity: 0;
}

.content-popup .popup .form .file .input-file .content {
    min-width: 90px;
    max-width: 50px;
    height: max-content;
    border: 2px dashed var(--stoneFive);
    background: var(--stoneThree);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 2px;
    justify-content: center;
    transition: all .1s ease-in-out;
} .content-popup .popup .form .file .input-file img.content {
    border: 2px solid var(--stoneThree);
    border-radius: 10px;
}

.content-popup .popup .form .file .input-file .content p {
    font-size: 15px;
    font-weight: 500;
    padding: 20px;
}

.content-popup .popup .form .file .text {
    width: max-content;
    height: auto;
    display: flex;
    flex-direction: column;
}

.content-popup .popup .form .file .text h1 {
    font-size: 16px;
    font-weight: 500;
    margin: 0px 0px 4px 0px;
}

.content-popup .popup .form .file .text p {
    font-size: 15px;
    font-weight: 400;
}



/* Form - Input */
.content-popup .popup .form .input {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}

.content-popup .popup .form .input label {
    font-size: 15px;
    font-weight: 500;
    margin: 0px 0px 8px 2px;
}

.content-popup .popup .form .input input {
    width: 100%;
    height: 42.5px;
    border-radius: 8px;
    color: var(--stoneEleven);
    background: var(--stoneThree);
    border: 1px solid var(--stoneSix);
    font-size: 13px;
    padding: 0px 15px;
    transition: all .1s ease-in-out;
} .content-popup .popup .form .input input:focus {
    border: 1px solid var(--stoneSix);
    box-shadow: 0px 0px 10px var(--stoneSix);
}


.content-popup .popup .form .input select {
    width: 100%;
    height: 42.5px;
    border-radius: 8px;
    color: var(--stoneEleven);
    background: var(--stoneThree);
    border: 1px solid var(--stoneSix);
    cursor: var(--mouseLink);
    font-size: 13px;
    padding: 0px 15px;
    transition: all .1s ease-in-out;
} .content-popup .popup .form .input select:focus {
    border: 1px solid var(--stoneSix);
    box-shadow: 0px 0px 10px var(--stoneSix);
}

/* Form - Textarea */
.content-popup .popup .form .textarea {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.content-popup .popup .form .textarea label {
    font-size: 15px;
    font-weight: 500;
    margin: 0px 0px 8px 2px;
}

.content-popup .popup .form .textarea textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 75px;
    max-height: 75px;
    border-radius: 8px;
    font-size: 13px;
    color: var(--stoneEleven);
    background: var(--stoneThree);
    border: 1px solid var(--stoneSix);
    padding: 12.5px 15px;
    transition: all .1s ease-in-out;
} .content-popup .popup .form .textarea textarea:focus {
    border: 1px solid var(--stoneSix);
    box-shadow: 0px 0px 10px var(--stoneSix);
}

.content-popup .popup .form .checkbox {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 15px 0px 7.5px 0px;
}

.content-popup .popup .form .checkbox .input-checkbox {
    min-width: 22.5px;
    max-width: 22.5px;
    min-height: 22.5px;
    max-height: 22.5px;
    border: 1px solid var(--stoneSix);
    background: var(--stoneFour);
    border-radius: 50%;
    cursor: var(--mouseLink);
    transition: all .1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 12px 0px 0px;
} .content-popup .popup .form .checkbox .input-checkbox:hover,
.content-popup .popup .form .checkbox .input-checkbox:focus {
    background: var(--stoneFive);
    border: 1px solid var(--stoneSeven);
    box-shadow: 0px 0px 15px var(--stoneSix);
}


.content-popup .popup .form .checkbox .input-checkbox.selecionado {
    background: var(--primary);
    border: 1px solid var(--secondary);
} .content-popup .popup .form .checkbox .input-checkbox.selecionado:hover,
  .content-popup .popup .form .checkbox .input-checkbox.selecionado:focus {
    box-shadow: 0px 0px 15px var(--secondary);
}

.content-popup .popup .form .checkbox .input-checkbox.selecionado::before {
    content: "✓";
    font-size: 14px;
    font-weight: 200;
    margin: auto;
}

.content-popup .popup .form .checkbox .text {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.content-popup .popup .form .checkbox .text h1 {
    font-size: 16px;
    font-weight: 500;
    margin: 2px 0px 4px 0px;
}

.content-popup .popup .form .checkbox .text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}